<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DatabaseSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/blackjack/Database.asmx"
                binding="basicHttpBinding" bindingConfiguration="DatabaseSoap"
                contract="DatabaseFunctions.DatabaseSoap" name="DatabaseSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Properties.Settings>
            <setting name="Assembly_CSharp_DBref_Database" serializeAs="String">
                <value>http://blackjackwebservice.azurewebsites.net/Database.asmx</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
</configuration>